name: Terraform Deployment

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: terraform init
      working-directory: .

    - name: Terraform Apply
      id: apply
      run: terraform apply -auto-approve
      working-directory: .
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Capture instance IP
      id: get_ip
      run: |
        instance_ip=$(terraform output instance_ip)
        echo "Captured IP: $instance_ip"
          echo "EC2_HOST=$instance_ip" >> $GITHUB_ENV
      working-directory: .


    - name: Install GitHub CLI
      run: sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-key C99B11DEB97541F0 && \
           sudo apt-add-repository https://cli.github.com/packages && \
           sudo apt update && \
           sudo apt install gh -y

    - name: Authenticate GitHub CLI
      run: echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token

    - name: Set instance IP as secret
      run: gh secret set EC2_HOST -b"${{ env.INSTANCE_IP }}"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
