name: Terraform Deployment

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: terraform init
      working-directory: .

    - name: Terraform Apply
      id: apply
      run: terraform apply -auto-approve
      working-directory: .
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    - name: Capture instance IP
      id: output
      run: echo "INSTANCE_IP=$(terraform output -raw instance_ip)" >> $GITHUB_ENV
      working-directory: .

    - name: Set instance IP as secret
      uses: actions/github-script@v5
      with:
        script: |
          const { execSync } = require('child_process');
          const instanceIp = execSync('echo $INSTANCE_IP').toString().trim();
          await github.actions.createOrUpdateRepoSecret({
            owner: context.repo.owner,
            repo: context.repo.repo,
            secret_name: 'EC2_HOST',
            secret_value: instanceIp,
          });
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
